.main-container {
  display: flex;
}

// list content

#list {
 padding-top: 20px;
 flex: 0 0 200px;
 height: 100%;
 height: 100vh;
 position: sticky !important;
 top: 0 !important;
 background-color: #fafafa;

h4 {
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
  padding-top: 5px;
}

a {
  font-size: 13px;
  color: black;
  margin-left: 25px;
  &:hover {
    color: lightgrey;
    text-decoration: none;
  }
}
#myCatButton {
  font-size: 13px;
  font-weight: 500;
  margin-left: 20px;
  background-color: #fafafa;
  border: 0;
  &:focus {
    outline: none;
  }
  &:hover {
    color: lightgrey;
    text-decoration: none;
  }
}

#myPriceButton {
  font-size: 15px;
  font-weight: 500;
  margin-left: 0px;
  margin-top: 20px;
  background-color: #fafafa;
  border: 0;
  word-spacing: 100px;
  &:focus {
    outline: none;
  }
}

#myOrderButton {
  font-size: 15px;
  font-weight: 500;
  margin-left: 0px;
  margin-top: 20px;
  background-color: #fafafa;
  border: 0;
  word-spacing: 80px;
  &:focus {
    outline: none;
  }
}

#myMarcaButton{
  font-size: 15px;
  font-weight: 500;
  margin-left: 0px;
  background-color: #fafafa;
  border: 0;
  word-spacing: 92px;
  &:focus {
    outline: none;
  }
}
}

// Cards Content

.index-wrapper {
  background-color: white;
  padding: 20px;
}
#product-archive {
  margin-top: 30px;
  span {
  background: #ffffff;
  padding-right: .5em;

}
  h1 {

  line-height: 2px !important;
  border-top: 1px solid #dbdbdb;
  }
}
#index-wrapper {
  header {
  border-top: 1px solid red;
  line-height: 1em !important;
  display: block;
  }
}

.page-title {
  font: normal 28px/1.2em "Open Sans" !important;
  color: #222222!important;
  margin: 0 0 0.5em;
}
.page-title {

  margin: 0 0 0.5em;
}
#product-archive {
  span {
  background: #ffffff;
  padding-right: .5em;
  }
}

