.button-order {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-weight: 400;
  margin: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: .85714rem 2.28571rem;
  border-radius: 0px;
  outline: 0;
  vertical-align: middle;
  background-color: #444;
  border-color: #444;
  color: #fff;
  line-height: 12px;
}
