/*card-category*/
.product-item {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 0px;
}

.product-item-photo-group {
  position: relative;
  padding: 10px;
}
.product-item-photo {
  height: 300px;
  border-radius: 10px;
  background-position: center;
  background-size: cover !important;
}

.product-item-favourite {
 position: absolute;
 top: 20px;
 right: 20px;
 font-size: 28px;
 background-color: rgba(250, 250, 0, 0.8);
 width: 40px;
 height: 40px;
 border-radius: 18%;
 display: flex;
 justify-content: space-around;
 align-items: center;
 color: white;
}
.product-item-favourite > i {
  padding-top: 3px;
}

.product-item h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 6px;
}

.product-item p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}

.product-item-info {
  padding: 4px 16px 16px 16px;
}

.product-item-stars {
  margin: 0px;
  padding-left: 10px;
  font-size: 12px;
}

.not-rated {
  color: lightgrey;
}

.product-item-price {

}


.content {
  display: flex;
}
.card-container  {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}


/*needed for old page, remove after merge of new frontend module*/

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 749px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 750px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
